<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="login-container">

    <h2>Entrar no OneDevs</h2>
    <p>Faça login para continuar</p>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="ion-margin-top">
      Entrar
    </ion-button>

    <p class="erro" *ngIf="erro" style="color: red; text-align: center;">{{erro}}</p>

  </div>

</ion-content>