<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="login-container">
    <h2>Entrar no OneDevs</h2>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="seu@email.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" placeholder="Xiu..."></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="btn-login ion-margin-top">
      Entrar
    </ion-button>
    <div class="ion-text-center ion-margin-vertical">
      <p style="color: #888;">Ou entre com</p>
    </div>

    <div class="social-login-container">
      <!-- BOTÃO GOOGLE -->
      <ion-button expand="block" fill="outline" (click)="entrarComGoogle()" class="btn-google">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Continue with Google
      </ion-button>

      <!-- BOTÃO GITHUB -->
      <ion-button expand="block" fill="outline" (click)="entrarComGithub()" class="btn-github">
        <ion-icon slot="start" name="logo-github"></ion-icon>
        Continue with Github
      </ion-button>

    </div>
    <ion-button expand="block" fill="clear" (click)="irParaRegistrar()" class="btn-registrar">
      Não tem uma conta? <span>Criar conta</span>
    </ion-button>

    <p class="erro" *ngIf="erro">{{erro}}</p>
  </div>

</ion-content>
