
ion-content {
  --background: linear-gradient(#0d1b2a, #000000);
  color: white;
}

ion-toolbar {
  --background: #0d1b2a;
  --border-style: none;
}

ion-title {
  color: #4fc3f7;
  font-weight: bold;
}

.login-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px 20px;
  background: rgba(13, 27, 42, 0.9);
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5),
              0 0 15px rgba(79, 195, 247, 0.1);
  border: 1px solid rgba(79, 195, 247, 0.2);
}

.login-container h2 {
  color: #4fc3f7;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

ion-item {
  --background: rgba(255, 255, 255, 0.05);
  --border-color: #4fc3f7;
  --highlight-height: 0;

  --inner-padding-top: 18px;
  --inner-padding-bottom: 10px;
  --padding-start: 14px;

  margin-bottom: 18px;
  border-radius: 10px;
  border: 1px solid rgba(79, 195, 247, 0.3);

  min-height: 70px;
}

ion-label {
  color: #4fc3f7 !important;
  font-size: 13px;
  transform: translateY(6px);
}

ion-input {
  --color: white;
  font-size: 15px;
  margin-top: 6px;
}

.btn-login {
  --background: #4fc3f7;
  --color: #0d1b2a;
  --border-radius: 10px;
  font-weight: bold;
  height: 50px;
  font-size: 16px;
  margin-top: 10px;
}

.ion-text-center p {
  color: #888;
  font-size: 14px;
}

/* LOGIN SOCIAL */
.social-login-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.btn-google,
.btn-github {
  --border-radius: 10px;
  font-weight: 600;
  height: 50px;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: all 0.25s ease;
}

/* GOOGLE */
.btn-google {
  --background: #ffffff;
  --color: #000;
  --border-color: #ffffff;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* GITHUB */
.btn-github {
  --background: #1f1f1f;
  --color: #ffffff;
  --border-color: #1f1f1f;

  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.btn-google:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 14px rgba(255,255,255,0.2);
}

.btn-github:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 14px rgba(0,0,0,0.6);
}

.btn-google:active,
.btn-github:active {
  transform: scale(0.97);
}

.btn-registrar {
  --color: #ffffff;
  font-size: 14px;
  margin-top: 12px;
  text-transform: none;
}

.btn-registrar span {
  color: #4fc3f7;
  margin-left: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.erro {
  color: #ff4d4d !important;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 500;
  background: rgba(255, 77, 77, 0.1);
  padding: 8px;
  border-radius: 5px;
}

ion-back-button {
  --color: #4fc3f7;
}
