html, body {
  color-scheme: dark;
  background: #0d1b2a;
  color: #ffffff;
}

:root {
  --ion-background-color: transparent !important;
  --ion-text-color: #ffffff !important;

  --ion-card-background: #0d1b2a !important;
  --ion-item-background: transparent !important;

  --ion-toolbar-background: #0d1b2a !important;
  --ion-toolbar-color: #4fc3f7 !important;

  --ion-color-primary: #4fc3f7 !important;
  --ion-color-primary-contrast: #000000 !important;
}


ion-content {
  --background: linear-gradient(#0d1b2a, #000);
  color: white;
  --padding-bottom: 80px;
}

ion-toolbar {
  --background: #0d1b2a;
}

ion-title {
  color: #4fc3f7;
}

ion-button {
  --background: #4fc3f7;
  --color: black;
  font-weight: bold;
  border-radius: 20px;
}

ion-card {
  background: #0d1b2a;
  border-radius: 16px;
  margin: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

ion-card#sobre ion-item {
  --background: rgba(255,255,255,0.05);
  --color: white;
  margin: 6px 0;
  border-radius: 10px;
}

ion-item {
  --background: transparent;
  border-radius: 12px;
  margin: 6px 10px;
  color: white;
}

.section-title {
  color: #4fc3f7;
  margin-left: 16px;
}

ion-icon {
  color: #4fc3f7;
}

ion-fab-button ion-icon {
  color: black !important;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 10px;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.tool-card {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  flex-shrink: 0;
  border-radius: 16px;
  overflow: hidden;
}

.tool-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

ion-card img {
  width: 100%;
  border-radius: 12px;
}

ion-fab-button {
  --background: #4fc3f7;
  --color: black;
}

